<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="mensagens">

    <div th:if="${mensagemSucesso}"
         class="alert alert-success alert-dismissible fade show"
         role="alert">

        <span th:text="${mensagemSucesso}"></span>

        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert">
        </button>
    </div>

    <div th:if="${mensagemErro}"
         class="alert alert-danger alert-dismissible fade show"
         role="alert">

        <span th:text="${mensagemErro}"></span>

        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert">
        </button>
    </div>

</div>

</body>
</html>
